In [1]:
%matplotlib inline

In [2]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
import matplotlib.pyplot as plt

# Import the API key.
import os
from dotenv import load_dotenv
load_dotenv()
g_key = os.getenv("g_key")

In [3]:
type(g_key)

str

In [4]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Jaisinghnagar,23.7000,81.3833,76.23,84,92,7.74,IN,2022-07-18 23:17:44
1,1,Hot Springs,34.5037,-93.0552,82.40,83,27,1.99,US,2022-07-19 04:58:10
2,2,Rikitea,-23.1203,-134.9692,74.48,74,4,12.80,PF,2022-07-19 04:58:11
3,3,Mahebourg,-20.4081,57.7000,71.26,68,75,19.57,MU,2022-07-19 04:58:11
4,4,Saskylakh,71.9167,114.0833,44.37,64,100,15.39,RU,2022-07-19 04:58:12

In [5]:
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [6]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [7]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:

# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Jaisinghnagar,23.7000,81.3833,76.23,84,92,7.74,IN,2022-07-18 23:17:44
1,1,Hot Springs,34.5037,-93.0552,82.40,83,27,1.99,US,2022-07-19 04:58:10
13,13,Kapaa,22.0752,-159.3190,77.11,81,15,4.00,US,2022-07-19 04:58:16
15,15,Sao Filipe,14.8961,-24.4956,75.07,83,97,9.46,CV,2022-07-19 04:58:17
16,16,Charleston,32.7766,-79.9309,83.01,85,0,9.22,US,2022-07-19 04:55:25
22,22,Bato,13.3528,123.3677,84.09,79,65,4.99,PH,2022-07-19 04:58:20
24,24,Tautira,-17.7333,-149.1500,76.24,72,18,2.71,PF,2022-07-19 04:58:21
25,25,Itarema,-2.9248,-39.9167,76.14,82,6,13.15,BR,2022-07-19 04:58:21
30,30,Isangel,-19.5500,169.2667,79.30,75,74,9.01,VU,2022-07-19 04:58:23
40,40,Luganville,-15.5333,167.1667,81.37,73,20,9.17,VU,2022-07-19 04:58:28

In [12]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
Country       0
Date          0
dtype: int64

In [13]:

preferred_cities_df.count()

City_ID       179
City          179
Lat           179
Lng           179
Max Temp      179
Humidity      179
Cloudiness    179
Wind Speed    179
Country       179
Date          179
dtype: int64

In [14]:
preferred_cities_df.notnull().sum()

City_ID       179
City          179
Lat           179
Lng           179
Max Temp      179
Humidity      179
Cloudiness    179
Wind Speed    179
Country       179
Date          179
dtype: int64

In [15]:
# MODULE 6.5.4

# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp      Lat       Lng Hotel Name
0   Jaisinghnagar      IN     76.23  23.7000   81.3833
1     Hot Springs      US     82.40  34.5037  -93.0552
13          Kapaa      US     77.11  22.0752 -159.3190
15     Sao Filipe      CV     75.07  14.8961  -24.4956
16     Charleston      US     83.01  32.7766  -79.9309
22           Bato      PH     84.09  13.3528  123.3677
24        Tautira      PF     76.24 -17.7333 -149.1500
25        Itarema      BR     76.14  -2.9248  -39.9167
30        Isangel      VU     79.30 -19.5500  169.2667
40     Luganville      VU     81.37 -15.5333  167.1667

In [16]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    #hotel_df[index, "Hotel Name"] = hotels["results"][0]["name"]
    
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

hotel_df.head(10)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Jaisinghnagar,IN,76.23,23.7000,81.3833,Sonu Up Dhawa
1,Hot Springs,US,82.40,34.5037,-93.0552,Embassy Suites by Hilton Hot Springs Hotel & Spa
13,Kapaa,US,77.11,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
15,Sao Filipe,CV,75.07,14.8961,-24.4956,Hotel Xaguate
16,Charleston,US,83.01,32.7766,-79.9309,The Mills House Wyndham Grand Hotel
22,Bato,PH,84.09,13.3528,123.3677,Casa de Piedra Pension House
24,Tautira,PF,76.24,-17.7333,-149.1500,Pension Oaoa
25,Itarema,BR,76.14,-2.9248,-39.9167,"Sea Lounge! Bar, Club & Restaurant"
30,Isangel,VU,79.30,-19.5500,169.2667,Tanna Lodge
40,Luganville,VU,81.37,-15.5333,167.1667,The Espiritu Hotel

In [18]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

#####