In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

# Import the API key.
import os
from dotenv import load_dotenv
load_dotenv()
g_key = os.getenv("g_key")

In [2]:
type(g_key)

str

In [3]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Jaisinghnagar,23.7000,81.3833,76.23,84,92,7.74,IN,2022-07-18 23:17:44
1,1,Hot Springs,34.5037,-93.0552,82.40,83,27,1.99,US,2022-07-19 04:58:10
2,2,Rikitea,-23.1203,-134.9692,74.48,74,4,12.80,PF,2022-07-19 04:58:11
3,3,Mahebourg,-20.4081,57.7000,71.26,68,75,19.57,MU,2022-07-19 04:58:11
4,4,Saskylakh,71.9167,114.0833,44.37,64,100,15.39,RU,2022-07-19 04:58:12

In [4]:
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))