## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import the API key.
import os
from dotenv import load_dotenv
load_dotenv()
g_maps_key = os.getenv("new_g_maps_key")

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Weather,Lat,Lng,Hotel Name
0,5,Hithadhoo,MV,81.90,broken clouds,-0.6000,73.0833,Scoop Guest House
1,12,Kavieng,PG,84.47,light rain,-2.5744,150.7967,Nusa Island Retreat
2,15,Jamestown,US,76.01,scattered clouds,42.0970,-79.2353,Hampton Inn & Suites Jamestown
3,18,Dingle,PH,86.65,overcast clouds,10.9995,122.6711,SEGAYA PROPERTY
4,23,Georgetown,MY,84.88,light rain,5.4112,100.3354,Cititel Penang

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}
<dt>Current Weather<dd>{Current Weather} and {Max Temp} °F
</dl>
"""


# 3a. Get the data from each row and add it to the formatting template and store the data in a list.

hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.

locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map

max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 4b. Display the figure
              
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City']== 'Narnaul']
vacation_end = vacation_df.loc[vacation_df['City']== 'Narnaul']
vacation_stop1 = vacation_df.loc[vacation_df['City']== 'Veraval']
vacation_stop2 = vacation_df.loc[vacation_df['City']== 'Ranchi'] 
vacation_stop3 = vacation_df.loc[vacation_df['City']== 'Kattivakkam']

In [6]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start.iloc[0, 5:7].to_numpy()
end = vacation_end.iloc[0, 5:7].to_numpy()
stop1 = vacation_stop1.iloc[0, 5:7].to_numpy()
stop2 = vacation_stop2.iloc[0, 5:7].to_numpy()
stop3 = vacation_stop3.iloc[0, 5:7].to_numpy()

print (start)

[28.0444 76.1083]

In [8]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

Narnaul = start
Veraval = stop1
Ranchi = stop2
Kattivakkam= stop3 

fig = gmaps.figure()

city_itinerary = gmaps.directions_layer(start, end, waypoints=[stop1,stop2,stop3],travel_mode="DRIVING")
fig.add_layer(city_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, 
                          vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Weather,Lat,Lng,Hotel Name
0,520,Narnaul,IN,85.86,scattered clouds,28.0444,76.1083,Hotel Sun Plaza - Luxury Hotel
1,372,Veraval,IN,81.95,overcast clouds,20.9000,70.3667,Lords Inn Somnath
2,538,Ranchi,IN,77.11,haze,23.3500,85.3333,Radisson Blu Hotel Ranchi
3,252,Kattivakkam,IN,86.09,broken clouds,13.2167,80.3167,Euronova Freezer

In [10]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}
<dt>Current Weather<dd>{Current Weather} and {Max Temp} °F
</dl>

"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [11]:
# 11a. Add a marker layer for each city to the map.
max_temp = itinerary_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))